<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </configSections>
    <startup>
    </startup>
    <connectionStrings>
        <add name="SQLite" connectionString="Data Source=C:\Users\terry\source\repos\Ninja\Data\Database\SQLite\DataModels\Data.db" providerName="System.Data.SQLite" />
        <add name="SqlServer" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=Data.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient" />
        <add name="SqlCe" connectionString="Data Source=C:\Users\terry\source\repos\Ninja\Data\Database\SqlCe\DataModels\Data.sdf;" providerName="System.Data.SqlServerCe" />
        <add name="Excel" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\terry\source\repos\Ninja\Data\Database\Access\DataModels\Data.accdb;Extended Properties='Excel 12.0;HDR=YES;IMEX=1;'" providerName="System.Data.OleDb" />
        <add name="Access" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\terry\source\repos\Ninja\Data\Database\Access\DataModels\Data.accdb" providerName="System.Data.OleDb" />
        <add name="OleDb" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\terry\source\repos\Ninja\Data\Database\Access\DataModels\Data.accdb;Extended Properties='Excel 12.0;HDR=YES;IMEX=1;'" providerName="System.Data.OleDb" />
        <add name="CSV" connectionString="Provider=Microsoft.Jet.OleDb.4.0;Data Source=C:\Users\terry\source\repos\Ninja\Data\Database\Access\DataModels\Data.accdb;Extended Properties='Text';FMT='Delimited'" providerName="System.Data.OleDb" />
        <add name="Text" connectionString="Provider=Microsoft.Jet.OleDb.4.0;Data Source=C:\Users\terry\source\repos\Ninja\Data\Database\Access\DataModels\Data.accdb" providerName="System.Data.OleDb" />
        <add name="SQL" connectionString="Provider=Microsoft.Jet.OleDb.4.0;Data Source=C:\Users\terry\source\repos\Ninja\Data\Database\Access\DataModels\Data.accdb;Extended Properties='Text';" providerName="System.Data.OleDb" />
        <add name="Ninja.Properties.Settings.ACCDB" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\terry\source\repos\Ninja\Data\Database\Access\DataModels\Data.accdb" providerName="System.Data.OleDb" />
        <add name="DefaultConnection" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\terry\source\repos\Ninja\Data\Database\Access\DataModels\Data.accdb" />
    </connectionStrings>
    <appSettings>
        <!--***************************************      EXTENSIONS     *************************************-->
        <add key="Empty" value="C:\Users\terry\source\repos\Ninja\Data\Database\Access\DataModels\Data.accdb" />
        <add key="DB" value="C:\Users\terry\source\repos\Ninja\Data\Database\SQLite\DataModels\Data.db" />
        <add key="SDF" value="C:\Users\terry\source\repos\Ninja\Data\Database\SqlCe\DataModels\Data.sdf" />
        <add key="ClientSettingsProvider.ServiceUri" value="" />
        <add key="ClientSettingsProvider.ConnectionStringName" value="DefaultConnection" />
        <!--******************************       IMAGES   **********************************-->
        <add key="ExtensionImages" value="C:\Users\terry\source\repos\Ninja\Resources\Assets\ExtensionImages\" />
        <add key="LoaderImages" value="C:\Users\terry\source\repos\Ninja\Resources\Assets\LoaderImages\" />
        <add key="FolderImages" value="C:\Users\terry\source\repos\Ninja\Resources\Assets\FolderImages\" />
        <add key="ProviderImages" value="C:\Users\terry\source\repos\Ninja\Resources\Assets\ProviderImages\" />
        <add key="DialogImages" value="C:\Users\terry\source\repos\Ninja\Resources\Assets\DialogImages\" />
        <add key="ToolStripImages" value="C:\Users\terry\source\repos\Ninja\Resources\Assets\ToolStripImages\" />
        <add key="TileImages" value="C:\Users\terry\source\repos\Ninja\Resources\Assets\TileImages\" />
        <add key="FormImages" value="C:\Users\terry\source\repos\Ninja\Resources\Assets\FormImages\" />
        <add key="FileImages" value="C:\Users\terry\source\repos\Ninja\Resources\Assets\FileImages\" />
        <add key="HeaderFooterImages" value="C:\Users\terry\source\repos\Ninja\Resources\Assets\HeaderFooterImages\" />
        <add key="Desktop" value="C:\Users\terry\Desktop\" />
        <!--**********************************   CLIENTS   ******************************-->
        <add key="SQLiteMinion" value="C:\Users\terry\source\repos\Ninja\Data\Clients\SQLite\DB Browser for SQLite.exe" />
        <add key="SQLiteArgs" value="C:\Users\terry\source\repos\Ninja\Data\Database\SQLite\DataModels\Data.db" />
        <add key="AccessMinion" value="C:\Users\terry\source\repos\Ninja\Data\Database\Access\DataModels\Data.accdb" />
        <add key="SqlCeMinion" value="C:\Users\terry\source\repos\Ninja\Data\Clients\SqlCe\CompactView.exe" />
        <add key="SqlCeArgs" value="C:\Users\terry\source\repos\Ninja\Data\Database\SqlCe\DataModels\Data.sdf" />
        <!--**********************************   BROWSERS   ******************************-->
        <add key="Edge" value="C:\Program Files (x86)\Microsoft\Edge\Application\msedge.exe" />
        <add key="Chrome" value="C:\Program Files\Google\Chrome\Application\chrome.exe" />
        <add key="FireFox" value="C:\Program Files\Mozilla Firefox\firefox.exe" />
        <add key="Baby" value="C:\Users\terry\source\repos\Ninja\IO\Clients\Baby\Baby.exe" />
        <!--***************************** RESOURCE LOCATIONS ******************************-->
        <add key="DatabaseDirectory" value="Data\Database\" />
        <add key="PathPrefix" value="C:\Users\terry\source\repos\Ninja\" />
        <add key="Reports" value="Resources\Reports\Report.xlsx" />
        <add key="Documents" value="Resources\Documents\" />
        <add key="Loading" value="Resources\Assets\LoaderImages\Loading.gif" />
        <add key="Waiting" value="Resources\Assets\LoaderImages\Waiting.gif" />
        <add key="Processing" value="Resources\Assets\LoaderImages\Processing.gif" />
        <!--*********************************      SECRETS      ******************************-->
        <add key="UI" value="Ngo9BigBOggjHTQxAR8/V1NDaF5cWWtCf1FpRmJGdld5fUVHYVZUTXxaS00DNHVRdkdnWXZcdHVWQmhdUEB/W0A=" />
        <add key="ApiKey" value="AIzaSyBsfbY19GJMzr3MXqr6MhJ4YKDfhv4QNkw" />
        <add key="SearchEngineId" value="a2f030f4bfacb4008" />
        <add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial" />
    </appSettings>
    <runtime>
    </runtime>
</configuration>