<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </configSections>
    <startup>
    </startup>
    <connectionStrings>
        <add name="SQLite" connectionString="Data Source=C:\Users\terry\source\repos\Badger\Data\Database\SQLite\DataModels\Data.db" providerName="System.Data.SQLite" />
        <add name="SqlServer" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=Data.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient" />
        <add name="SqlCe" connectionString="Data Source=C:\Users\terry\source\repos\Badger\Data\Database\SqlCe\DataModels\Data.sdf;" providerName="System.Data.SqlServerCe" />
        <add name="Excel" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\terry\source\repos\Badger\Data\Database\Access\DataModels\Data.accdb;Extended Properties='Excel 12.0;HDR=YES;IMEX=1;'" providerName="System.Data.OleDb" />
        <add name="Access" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\terry\source\repos\Badger\Data\Database\Access\DataModels\Data.accdb" providerName="System.Data.OleDb" />
        <add name="OleDb" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\terry\source\repos\Badger\Data\Database\Access\DataModels\Data.accdb;Extended Properties='Excel 12.0;HDR=YES;IMEX=1;'" providerName="System.Data.OleDb" />
        <add name="CSV" connectionString="Provider=Microsoft.Jet.OleDb.4.0;Data Source=C:\Users\terry\source\repos\Badger\Data\Database\Access\DataModels\Data.accdb;Extended Properties='Text';FMT='Delimited'" providerName="System.Data.OleDb" />
        <add name="Text" connectionString="Provider=Microsoft.Jet.OleDb.4.0;Data Source=C:\Users\terry\source\repos\Badger\Data\Database\Access\DataModels\Data.accdb" providerName="System.Data.OleDb" />
        <add name="SQL" connectionString="Provider=Microsoft.Jet.OleDb.4.0;Data Source=C:\Users\terry\source\repos\Badger\Data\Database\Access\DataModels\Data.accdb;Extended Properties='Text';" providerName="System.Data.OleDb" />
        <add name="Badger.Properties.Settings.ACCDB" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\terry\source\repos\Badger\Data\Database\Access\DataModels\Data.accdb" providerName="System.Data.OleDb" />
        <add name="DefaultConnection" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\terry\source\repos\Badger\Data\Database\Access\DataModels\Data.accdb" />
    </connectionStrings>
    <appSettings>
        <!--***************************************      EXTENSIONS     *************************************-->
        <add key="Empty" value="C:\Users\terry\source\repos\Badger\Data\Database\Access\DataModels\Data.accdb" />
        <add key="DB" value="C:\Users\terry\source\repos\Badger\Data\Database\SQLite\DataModels\Data.db" />
        <add key="SDF" value="C:\Users\terry\source\repos\Badger\Data\Database\SqlCe\DataModels\Data.sdf" />
        <add key="MDF" value="C:\Users\terry\source\repos\Badger\Data\Database\SqlServer\DataModels\Data.mdf" />
        <add key="ACCDB" value="C:\Users\terry\source\repos\Badger\Data\Database\Access\DataModels\Data.accdb" />
        <add key="XLSX" value="C:\Users\terry\source\repos\Badger\Data\Database\Access\DataModels\Data.accdb" />
        <add key="CSV" value="C:\Users\terry\source\repos\Badger\Data\Database\Access\DataModels\Data.accdb" />
        <add key="TXT" value="C:\Users\terry\source\repos\Badger\Data\Database\Access\DataModels\Data.accdb" />
        <add key="SQL" value="C:\Users\terry\source\repos\Badger\Data\Database\Access\DataModels\Data.accdb" />
        <add key="ClientSettingsProvider.ServiceUri" value="" />
        <add key="ClientSettingsProvider.ConnectionStringName" value="DefaultConnection" />
        <!--******************************       IMAGES   **********************************-->
        <add key="AgencyImages" value="C:\Users\terry\source\repos\Badger\Resources\Assets\AgencyImages\" />
        <add key="CarouselImages" value="C:\Users\terry\source\repos\Badger\Resources\Assets\CarouselImages\" />
        <add key="ExtensionImages" value="C:\Users\terry\source\repos\Badger\Resources\Assets\ExtensionImages\" />
        <add key="DatabaseImages" value="C:\Users\terry\source\repos\Badger\Resources\Assets\DatabaseImages\" />
        <add key="DataImages" value="C:\Users\terry\source\repos\Badger\Resources\Assets\DataImages\" />
        <add key="LoaderImages" value="C:\Users\terry\source\repos\Badger\Resources\Assets\LoaderImages\" />
        <add key="EpaImages" value="C:\Users\terry\source\repos\Badger\Resources\Assets\EpaImages\" />
        <add key="FolderImages" value="C:\Users\terry\source\repos\Badger\Resources\Assets\FolderImages\" />
        <add key="ProviderImages" value="C:\Users\terry\source\repos\Badger\Resources\Assets\ProviderImages\" />
        <add key="DialogImages" value="C:\Users\terry\source\repos\Badger\Resources\Assets\DialogImages\" />
        <add key="ToolStripImages" value="C:\Users\terry\source\repos\Badger\Resources\Assets\ToolStripImages\" />
        <add key="TileImages" value="C:\Users\terry\source\repos\Badger\Resources\Assets\TileImages\" />
        <add key="FormImages" value="C:\Users\terry\source\repos\Badger\Resources\Assets\FormImages\" />
        <add key="OfficeImages" value="C:\Users\terry\source\repos\Badger\Resources\Assets\OfficeImages\" />
        <add key="FilterImages" value="C:\Users\terry\source\repos\Badger\Resources\Assets\FilterImages\" />
        <add key="FileImages" value="C:\Users\terry\source\repos\Badger\Resources\Assets\FileImages\" />
        <add key="HeaderFooterImages" value="C:\Users\terry\source\repos\Badger\Resources\Assets\HeaderFooterImages\" />
        <add key="InterfaceImages" value="C:\Users\terry\source\repos\Badger\Resources\Assets\InterfaceImages\" />
        <add key="Desktop" value="C:\Users\terry\Desktop\" />
        <!--*********************************   QUERY PATHS  ******************************-->
        <add key="CREATEDATABASE" value="C:\Users\terry\source\repos\Badger\Data\Database\{Provider}\DataModels\CREATEDATABASE\" />
        <add key="CREATETABLE" value="C:\Users\terry\source\repos\Badger\Data\Database\{Provider}\DataModels\CREATETABLE\" />
        <add key="CREATEVIEW" value="C:\Users\terry\source\repos\Badger\Data\Database\{Provider}\DataModels\CREATEVIEW\" />
        <add key="ALTERTABLE" value="C:\Users\terry\source\repos\Badger\Data\Database\{Provider}\DataModels\ALTERTABLE\" />
        <add key="SELECT" value="C:\Users\terry\source\repos\Badger\Data\Database\{Provider}\DataModels\SELECT\" />
        <add key="SELECTALL" value="C:\Users\terry\source\repos\Badger\Data\Database\{Provider}\DataModels\SELECTALL\" />
        <add key="INSERT" value="C:\Users\terry\source\repos\Badger\Data\Database\{Provider}\DataModels\INSERT\" />
        <add key="UPDATE" value="C:\Users\terry\source\repos\Badger\Data\Database\{Provider}\DataModels\UPDATE\" />
        <add key="DELETE" value="C:\Users\terry\source\repos\Badger\Data\Database\{Provider}\DataModels\DELETE\" />
        <!--**********************************   CLIENTS   ******************************-->
        <add key="SQLiteMinion" value="C:\Users\terry\source\repos\Badger\Data\Clients\SQLite\DB Browser for SQLite.exe" />
        <add key="SQLiteArgs" value="C:\Users\terry\source\repos\Badger\Data\Database\SQLite\DataModels\Data.db" />
        <add key="AccessMinion" value="C:\Users\terry\source\repos\Badger\Data\Database\Access\DataModels\Data.accdb" />
        <add key="SqlCeMinion" value="C:\Users\terry\source\repos\Badger\Data\Clients\SqlCe\CompactView.exe" />
        <add key="SqlCeArgs" value="C:\Users\terry\source\repos\Badger\Data\Database\SqlCe\DataModels\Data.sdf" />
        <!--**********************************   BROWSERS   ******************************-->
        <add key="Edge" value="C:\Program Files (x86)\Microsoft\Edge\Application\msedge.exe" />
        <add key="Chrome" value="C:\Program Files\Google\Chrome\Application\chrome.exe" />
        <add key="FireFox" value="C:\Program Files\Mozilla Firefox\firefox.exe" />
        <add key="Baby" value="C:\Users\terry\source\repos\Badger\IO\Clients\Baby\Baby.exe" />
        <!--***************************** RESOURCE LOCATIONS ******************************-->
        <add key="DatabaseDirectory" value="Data\Database\" />
        <add key="BudgetWeb" value="Resources\Web\index.html" />
        <add key="PathPrefix" value="C:\Users\terry\source\repos\Badger\" />
        <add key="Reports" value="Resources\Reports\Report.xlsx" />
        <add key="Documents" value="Resources\Documents\" />
        <add key="Loading" value="Resources\Assets\LoaderImages\Loading.gif" />
        <add key="Waiting" value="Resources\Assets\LoaderImages\Waiting.gif" />
        <add key="Processing" value="Resources\Assets\LoaderImages\Processing.gif" />
        <!--*********************************      SECRETS      ******************************-->
        <add key="UI" value="Ngo9BigBOggjHTQxAR8/V1NAaF5cWWJCf1FpRmJGdld5fUVHYVZUTXxaS00DNHVRdkdnWXhcdnRcQ2RdVE11WkY=" />
        <add key="ApiKey" value="AIzaSyBsfbY19GJMzr3MXqr6MhJ4YKDfhv4QNkw" />
        <add key="SearchEngineId" value="a2f030f4bfacb4008" />
        <add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial" />
    </appSettings>
    <runtime>
    </runtime>
</configuration>