<?xml version="1.0" ?>
<configuration>
<appSettings>
<!--******************************************************************************-->
<!--**********************************   URL   ***********************************-->
<!--******************************************************************************-->
<add key="Homepage" value="file:///C:/Users/terry/source/repos/Baby/WebPages/index.html" />
<add key="NewTab" value="https://www.google.com" />
<add key="Internal" value="Baby" />
<add key="Downloads" value="baby://storage/downloads.html" />
<add key="FileNotFound" value="baby://storage/errors/notFound.html" />
<add key="CannotConnect" value="baby://storage/errors/cannotConnect.html" />
<add key="Branding" value="Baby Browser" />
<add key="AcceptLanguage" value="en-US,en;q=0.9" />
<add key="UserAgent"
     value="Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/104.0.5112.102 Safari/537.36 /CefSharp Browser" />
<add key="Edge" value="C:\Program Files (x86)\Microsoft\Edge\Application\msedge.exe" />
<add key="Chrome" value="C:\Program Files\Google\Chrome\Application\chrome.exe" />
<add key="FireFox" value="C:\Program Files\Mozilla Firefox\firefox.exe" />
<!--******************************************************************************-->
<!--*******************************    Domains    ********************************-->
<!--******************************************************************************-->
<add key="Google" value="https://www.google.com/search?q= " />
<add key="EPA" value="https://www.google.com/search?q=site:epa.gov " />
<add key="DATA" value="https://www.google.com/search?q=site:data.gov " />
<add key="GPO" value="https://www.google.com/search?q=site:gpo.gov " />
<add key="USGI" value="https://www.google.com/search?q=site:govinfo.gov " />
<add key="CRS" value="https://www.google.com/search?q=site:crsreports.congress.gov " />
<add key="LOC" value="https://www.google.com/search?q=site:loc.gov " />
<add key="OMB" value="https://www.google.com/search?q=site:whitehouse.gov " />
<add key="UST" value="https://www.google.com/search?q=site:fiscal.treasury.gov " />
<add key="NASA" value="https://www.google.com/search?q=site:nasa.gov " />
<add key="NOAA" value="https://www.google.com/search?q=site:noaa.gov " />
<add key="DOI" value="https://www.google.com/search?q=site:doi.gov " />
<add key="NPS" value="https://www.google.com/search?q=site:nps.gov " />
<add key="GSA" value="https://www.google.com/search?q=site:gsa.gov " />
<add key="NARA" value="https://www.google.com/search?q=site:archives.gov " />
<add key="DOC" value="https://www.google.com/search?q=site:commerce.gov " />
<add key="HHS" value="https://www.google.com/search?q=site:hhs.gov " />
<add key="NRC" value="https://www.google.com/search?q=site:nrc.gov " />
<add key="DOE" value="https://www.google.com/search?q=site:energy.gov " />
<add key="NSF" value="https://www.google.com/search?q=site:nsf.gov " />
<add key="USDA" value="https://www.google.com/search?q=site:usda.gov " />
<add key="CSB" value="https://www.google.com/search?q=site:csb.gov " />
<add key="IRS" value="https://www.google.com/search?q=site:irs.gov " />
<add key="FDA" value="https://www.google.com/search?q=site:fda.gov " />
<add key="CDC" value="https://www.google.com/search?q=site:cdc.gov " />
<add key="ACE" value="https://www.google.com/search?q=site:usace.army.mil " />
<add key="DHS" value="https://www.google.com/search?q=site:dhs.gov " />
<add key="DOD" value="https://www.google.com/search?q=site:defense.gov " />
<add key="USNO" value="https://www.google.com/search?q=site:usno.navy.mil " />
<add key="NWS" value="https://www.google.com/search?q=site:weather.gov " />
<!--*********************************************************************************-->
<!--*********************************   UI COLORS      ******************************-->
<!--*********************************************************************************-->
<add key="Transparent" value="0, 255, 255, 255" />
<add key="Black" value="255, 0, 0, 0" />
<add key="White" value="255, 255, 255, 255" />
<add key="Gray" value="255, 169, 169, 169" />
<add key="Red" value="255, 192, 0, 0" />
<add key="Maroon" value="255, 128, 0, 0" />
<add key="DodgerBlue" value="255, 30, 144, 255" />
<add key="SteelBlue" value="255, 70, 130, 180" />
<add key="LightSteelBlue" value="255, 176, 196, 222" />
<add key="BlackBackColor" value="20, 20, 20" />
<add key="BlueHoverColor" value="50, 93, 129" />
<add key="GrayHoverColor" value="70, 70, 70" />
<add key="DarkBlueHoverColor" value="24, 47, 66" />
<add key="BlueTextColor" value="106, 189, 252" />
<add key="DarkInteriorColor" value="70, 70, 70" />
<add key="DarkBorderColor" value="65, 65, 65" />
<add key="BlueBorderColor" value="0, 120, 212" />
<add key="GrayHoverColor" value="70, 70, 70" />
<add key="NotificationColor" value="0, 73, 112" />
<!--******************************************************************************-->
<!--*******************************  WebMinions  *********************************-->
<!--******************************************************************************-->
<add key="Edge" value="C:\Program Files (x86)\Microsoft\Edge\Application\msedge.exe" />
<add key="Chrome" value="C:\Program Files\Google\Chrome\Application\chrome.exe" />
<add key="FireFox" value="C:\Program Files\Mozilla Firefox\firefox.exe" />
<!--******************************************************************************-->
<!--*******************************  Secrets  ************************************-->
<!--******************************************************************************-->
<add key="Username" value="--UserName--" />
<add key="WebSecurity" value="true" />
<add key="CrossDomainSecurity" value="true" />
<add key="WebGL" value="true" />
<add key="ApplicationCache" value="true" />
<add key="Proxy" value="false" />
<add key="ProxyIP" value="123.123.123.123" />
<add key="ProxyPort" value="123" />
<add key="ProxyUsername" value="username" />
<add key="ProxyPassword" value="pass" />
<add key="ProxyBypassList" value="" />
<add key="UI"
     value="MzA2MDk4NkAzMjM0MmUzMDJlMzBjTncwaTlBSHBwcFlrbFJYeDlYWmdFV0FYUzFQeUVvdm9EWVg0L005b2UwPQ==" />
<add key="Sync"
     value="MjIyNzQwMEAzMjMxMmUzMTJlMzMzNWJ6Ylo1L05Bcm1yT0wyenJGMWhFM21xdUJlUERvMUdOUmE3MnBJUjJFbzQ9;MjIyNzQwMUAzMjMxMmUzMTJlMzMzNUZUcGV5Y29yQkkvS0lNVWl1RTBSTTArYmFJQ3Z0NHZMK1FYYm0zOFo1OGM9" />
</appSettings>
<startup>
<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
</startup>
</configuration>